<launch>
  <group ns="arm_ns">  
    <arg name="model" />  
    <arg name="gui" default="True" /> 
    <arg name="rvizconfig" default="$(find virt_human_arm)/rviz/urdf.rviz" /> 
    <param name="robot_description" textfile="$(find virt_human_arm)/urdf/virt_human_arm.urdf" />  
    <param name="use_gui" value="$(arg gui)"/>  
    <node name="joint_state_publisher" pkg="ros_myo" type="mymove_arm.py" />  
    <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz_human_arm" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true">
		
	</node>
  </group>

  <!--group ns="ur_ns"-->  
	<include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch"/>
	<!--include file="$(find ur5_moveit_config)/launch/demo.launch"/-->
	<include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch" >
		<arg name="config" default="true"/>
	</include>

	<node name="arm_control_ur5" pkg="virt_human_arm" type="arm_control_ur5" respawn="false" output="screen"/>
  <!--/group-->
</launch>
